.C07id_Div{
    background-color:rgb(32, 194, 48);
    height:100px;
    /* --let_HeaderHeight = 100px*/
    width:50%;
    display:flex;
}

.C06id_VerticalLine{
    height:100px;
    width:3px;
    background-color: black;
    margin-left: 3px;
    margin-right:3px;

}

.C06id_DisplayBlock{
    display:block;
    margin-top: 5px;
    margin-left: 0px;
}