#I02id_Canvas {
    display: grid;
}

#I02id_Body {
    background-color: rgb(146, 14, 182);
    display: flex;
    /*
    display: flex;
    width:50%;
    
    margin-left:auto;
    position: fixed;
    */
}

#I02id_DivHeader {
    background-color: rgb(43, 226, 202);
    width: 100%;
}

.I02id_RightToolbar {
    margin-left: auto
}

/*
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
*/

:root {
    --index02_MarginTop: 0px;
    --index02_HeaderHeight: 100px;
}

.I02id_Header {
    font-size: 16px;
    margin-left: 5px;
    margin-top: var(--index02_MarginTop);
    margin-bottom: var(--index02_MarginTop);
    height: 30px;
}