#I01id_Body{
    display:flex;
    height:100%
}

#I01id_BodyLeft{
    display: flex;
    background-color: rgb(147, 226, 43);
}

#I01id_Header{
    display:grid;
    height:40px;
    background-color: black;
    width:100%;
    grid-template-columns: 'repeat(2, 1fr)';
}

.I01id_Index_Canvas{
    margin-left: auto;;
}

#I01id_Ego{
    display:block;
}

#I01id_HBodyLeft{
    height:500px
}