#Body{
    display:flex;
    height:100%
}

#BodyLeft{
    display: flex;
    background-color: blueviolet;
}

#Header{
    display:grid;
    height:40px;
    background-color: black;
    width:100%;
    grid-template-columns: 'repeat(2, 1fr)';
}

.Index_Canvas{
    margin-left: auto;;
}

#Ego{
    display:block;
}