/************************************************************************************************
// General for C01id_Div, index.tsx, Right Table
************************************************************************************************/
#C01id_H{
    width:100%;
    height:calc(100vh - 40px);
}

.C01id_EditRowButton input{
    width: 100vh;
}

.C01id_EditRowButton {
    display: flex;
}

#C01id_Div {
    width: 100%;
}

#C01id_Table {
    /*
    https: //stackoverflow.com/questions/5671098/how-can-i-force-all-rows-in-a-table-to-have-the-same-height
    */
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: scroll;
}

.C01id_Right button {
    height: 100%;
}

#C01id_Table th:not(#C01id_Table th:first-child, #C01id_Table th:last-child) {
    white-space: nowrap;
    justify-content: space-around;
}

#C01id_Table td:not(#C01id_Table td:first-child, #C01id_Table td:last-child) {
    white-space: nowrap;
    justify-content: space-around;
}

thead,
tbody {
    display: block;
}

#C01id_InnerTable {
    width: 100%;
    overflow-x: scroll;
    background-color: antiquewhite;
}

tbody {
    overflow-y: auto;
}