/************************************************************************************************
// General for C01id_Div, index.tsx, Right Table
************************************************************************************************/

#C01id_H{
    width:100%;
    height:calc(100vh - 40px - --let_HeaderHeight);
}

.C01id_EditRowButton input{
    width: 100%;
}

.C01id_EditRowButton {
    display: flex;
}

#C01id_Div {
    width: 100%;
}

#C01id_Table {
    /*
    https: //stackoverflow.com/questions/5671098/how-can-i-force-all-rows-in-a-table-to-have-the-same-height
    */
    border-collapse: collapse;
    overflow-y: scroll;
}

.C01id_Right button {
    height: 100%;
}

thead,
tbody {
    display: block;
    background-color: rgb(17, 185, 194);
}

#C01id_InnerTable {
    width: 100%;
    overflow-x: scroll;
    background-color: rgb(160, 222, 202);
}

tbody {
    overflow-y: auto;
}