#C02id_Div table tr:nth-child(even):not(.C02id_HeightLightRow) {
    background-color: rgb(95, 160, 120);
}

#C02id_Div table tr:nth-child(odd):not(.C02id_HeightLightRow) {
    background-color: rgb(125, 213, 18);
}

#C02id_Div table tr,
#C02id_Div table td {
    width: 100%;
}

#C02id_Div table {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: rgb(0, 0, 0);
}
