:root {
    --C04_ZoomButton: 30px;
    --C04_FontSize: 20px;
    --C04_FontSize01: 17px;
    --C04_FontSize02: 15px;
}

.C04id_Toolbar {
    width: var(--C04_RightToolW);
    background-color: blueviolet;
    display: inline-block;
}

.C04id_Toolbar button {
    display: grid;
}


.C04id_Zoom {
    margin: auto;
    padding: auto;
    font-size: var(--C04_FontSize01);
}

.C04id_Div {
    display: 'inline-block';
    background-color: aquamarine;
}

.C04id_Button {
    width: 100%;
    margin-top: 5px;
    font-size: var(--C04_FontSize02);
    margin-left: auto;
}

.C04id_VrticalLine {
    border-left: thick solid #ff0000;
}

.C04id_EditImage {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.C04id_EditImage button {
    margin-left: 10px;
    width: 50px
}

.C04id_EditSetting {
    display: grid;
    grid-template-columns: repeat(2, 70px);
}

.C04id_EditBody {
    margin-left: 10px
}

.C04id_EditBody h1 {
    font-size: var(--C04_FontSize01);
}

.C04id_EditOk {
    display: grid;
    grid-template-columns: repeat(2, 80px);

}

.C04id_EditOkSet {
    width: 150px;
    margin-bottom: 5px;
    margin-left: auto
}

.C04id_EditOk button {
    width: 90%;
    margin: auto;
}

hr.C04id_EditSetting {
    border: 1px solid rgb(26, 74, 218);
    width: 90%;
}

.C04id_EditSettingRow {
    margin-top: 0px;
    width: 100%
}

.C04id_EditOkSet,
.C04id_EditOk {
    width: 90%;
}
/*
/////////////////////////////////////////////////////////////////////////////////
*/

#C04id_Canvas {
    display: grid;
}

#C04id_Body {
    background-color: black;
    display: flex;
}

#C04id_DivHeader {
    background-color: rgb(43, 226, 202);
    width: 100%;
}

.C04id_RightToolbar {
    margin-left: auto
}

#I01id_HBodyLeft{
    display:flex;
}

.C04id_Scalar {
    font-size: 14px;
}

.C04id_Scalar h1 {
    font-size: 18px;
}

.C04id_Scalar input {
    width: 50px
}

.C04id_Scalar tr {
    margin-top: 20px
}
/*
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
*/

:root {
    --C04_MarginTop: 0px;
    --C04_HeaderHeight: 100px;
}

.C04id_Header {
    font-size: 16px;
    margin-left: 5px;
    margin-top: var(--C04_MarginTop);
    margin-bottom: var(--C04_MarginTop);
    height: 30px;
}

.C04id_Editor {
    background-color: burlywood;
    height: var(--C04_HeaderHeight);
    margin-top: 0px;
    padding-bottom: 1px;
}

.C04id_Editor h1 {
    font-size: 14px;
}

.C04id_ShortInput input{
    width:10px
}
.C04id_ShortReset{
    width:50px;
}

.C04id_ShortOk{
    width:15px;
}


