/*
////////////////////////////////////////////////////////////////////////////////
// Specific
////////////////////////////////////////////////////////////////////////////////
*/

.C01id_SortButton input {
    height: 30px;
    font-size: 16px;
}

/*
////////////////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////////////////
*/
.C01id_SortButton {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
}

.C01id_SortButton button,
.C01id_SortButton button {
    width: 100%;
    height: 100%;
}