/*
////////////////////////////////////////////////////////////////////////////////
// Both for C01id_DivHeader, C_TopButton.tsx, header button
////////////////////////////////////////////////////////////////////////////////
*/

.C01id_DivHeader {
    display: flex;
}

.C01id_Header {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 5px;
}