.C04id_Scalar{
    font-size: 14px;
}
.C04id_Scalar h1{
    font-size: 18px;
}
.C04id_Scalar input{
    width:50px
}
.C04id_Scalar tr{
    margin-top:20px
}
/*
// ...
<tr><td>Rotate</td><td><input></input></td><td><button>Ok</button></td></tr>
// CSS does not working
// ...
*/