.C06id_R_TextDim{
    display:grid
}

.C06id_R_TextDim button{
    margin-top:3px
}

.C06id_R_TextDim input{
    margin-top:3px
}

.C07id_SmallH1{
    font-size:14px;
    margin-top:0px;
    margin-bottom: 0px;
    width:70px;
}

.C07id_SmallH1 button{
    margin-top:3px;
    width:77px;
}