/************************************************************************************************
// index00.css
************************************************************************************************/
#C02id_Div {
    height: calc(100vh - 40px);
}

#C02id_Div td {
    display: grid;
}

#C02id_Div table {
    height: 100%;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

#C02id_Div table td {
    width: 90%;
}

#C02id_Div table tr{
    padding-bottom: 1em;
}

.C02id_CreateRowDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv input {
    width: 58%;
}

.C02id_CreateRowButton {
    display: flex;
    white-space: nowrap;
    float: left;
}

.C02id_CreateRowButton h1 {
    display: flex;
    align-items: center;
}

#C02id_Header{
    display:inline-block;
}