/************************************************************************************************
// General for C02id_Div, C_input.jsx, Row input taps
************************************************************************************************/
#C02id_Div {
    background-color: cadetblue;
}

#C02id_Div {
    height: 100vh;
    position: relative;
}

#C02id_Div table {
    height: 100%;
    width: 100%;
    /* Optional: Ensure the table takes the full width */
}

#C02id_Div td {
    display: grid;
}

#C02id_RenameColumn {
    background-color: #c794e3;
}

#C02id_Div table {
    display: grid;
    width: 100%;
    overflow-y: scroll;
}

#C02id_Div table td {
    width: 90%;
}

#C02id_Div button {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-right: 3px;
}

#C02id_Div hr {
    color: red;
    background-color: red;
    height: 2px;
    border: none;
    width: 100%;
}

#C02id_DivButton {
    margin-left: 0%;
    display: flex;
}

.C02id_CreateRowDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv input {
    width: 58%;
}

.C02id_CreateRowButton {
    display: flex;
    white-space: nowrap;
    float: left;
}

.C02id_CreateRowButton h1 {
    display: flex;
    align-items: center;
}