:root{
    --C04_MarginTop:0px;
    --C04_HeaderHeight: 100px;
    --C04_RightToolW: 100px;
}

.C04id_Header {
        font-size: 16px;
        margin-left: 5px;
        margin-top: var(--C04_MarginTop);
        margin-bottom: var(--C04_MarginTop);
        height: 30px;
}

.C04id_Editor{
    background-color: burlywood;
    height:var(--C04_HeaderHeight);
    margin-top:0px;
    padding-bottom: 1px;
}
.C04id_Editor h1{
    font-size:14px;
}

