:root {
    --C04_ZoomButton: 30px;
    --C04_FontSize: 20px;
    --C04_FontSize01: 17px;
    --C04_FontSize02: 15px;
}

.C05id_Toolbar {
    width: var(--C04_RightToolW);
    background-color: blueviolet;
    display: inline-block;
}

.C05id_Toolbar button {
    display: grid;
}


.C05id_Zoom {
    margin: auto;
    padding: auto;
    font-size: var(--C04_FontSize01);
}

.C05id_Div {
    display: 'inline-block';
    background-color: aquamarine;
}

.C05id_Button {
    width: 100%;
    margin-top: 5px;
    font-size: var(--C04_FontSize02);
    margin-left: auto;
}

.C05id_VrticalLine {
    border-left: thick solid #ff0000;
}

.C05id_EditImage {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.C05id_EditImage button {
    margin-left: 10px;
    width: 50px
}

.C05id_EditSetting {
    display: grid;
    grid-template-columns: repeat(2, 70px);
}

.C05id_EditBody {
    margin-left: 10px
}

.C05id_EditBody h1 {
    font-size: var(--C04_FontSize01);
}

.C05id_EditOk {
    display: grid;
    grid-template-columns: repeat(2, 80px);

}

.C05id_EditOkSet {
    width: 150px;
    margin-bottom: 5px;
    margin-left: auto
}

.C05id_EditOk button {
    width: 90%;
    margin: auto;
}

hr.C05id_EditSetting {
    border: 1px solid rgb(26, 74, 218);
    width: 90%;
}

.C05id_EditSettingRow {
    margin-top: 0px;
    width: 100%
}

.C05id_EditOkSet,
.C05id_EditOk {
    width: 90%;
}