#root {
    --let_Font01: 14px;
    --let_Font02: 14px;
}


.C02id_HeightLightRow input {
    font-size: var(--let_Font02);
}

#C02id_Div table tr.C02id_HeightLightRow {
    background-color: rgb(100, 100, 200);
}