/************************************************************************************************
// index00.css
************************************************************************************************/
#C02id_Div {
    height: calc(100vh - 40px);
}

#C02id_Div td {
    display: grid;
}

#C02id_Div table {
    height: 100%;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

#C02id_Div table td {
    width: 90%;
}

#C02id_Div table tr {
    padding-bottom: 1em;
}

.C02id_CreateRowDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    /* Aligns items with maximum space between them */
    align-items: center;
}

.C02id_CreateColumnDiv input {
    width: 58%;
}

.C02id_CreateRowButton {
    display: flex;
    white-space: nowrap;
    float: left;
}

.C02id_CreateRowButton h1 {
    display: flex;
    align-items: center;
}

#C02id_Header {
    display: inline-block;
}

/*
////////////////////////////////////////////////////////////////////////////////
// index01.css
////////////////////////////////////////////////////////////////////////////////
*/
:root {
    --let_FontSize00: 14px;
    --let_FontSize01: 14px;
    --C02_HeaderHeight: 100px;
    --C02_MarginLeft: 10px;
    --C02_Width: 275px;
}

#C02id_Div {
    background-color: cadetblue;
}

#C02id_Div {
    width: var(--C02_Width);
}

#C02id_Div button {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-right: 3px;
}

#C02id_Div input {
    font-size: var(--let_FontSize01);
}

#C02id_Div button {
    font-size: var(--let_FontSize00);
    height: 30px;
}

.C02id_CreateRowButton button {
    width: 40px;
    height: 20px;
}

#C02id_Div h1 {
    font-size: var(--let_FontSize01);
    margin-bottom: 30px;
}

/*
////////////////////////////////////////////////////////////////////////////////
Not interesting
////////////////////////////////////////////////////////////////////////////////
*/

.C02id_DeleteColumn,
.C02id_RowInput {
    margin-left: var(--C02_MarginLeft)
}

.C02id_CreateRowButton h1 {
    margin-top: 5px;
}

.C02id_CreateRowButton {
    margin-top: 5px;
}

#C02id_Div input {
    margin-top: -10px;
    margin-bottom: 10px;
}

#C02id_DivHeader {
    vertical-align: middle;
}

.C02id_RowInput {
    width: var(--C02_Width);
}

#C02id_DivButton {
    margin-top: 15px;
    margin-left: var(--C02_MarginLeft)
}

/*
// index02.css
*/
#C02id_Header {
    border-top: 1px solid #000000;
    border-bottom: 2px solid chocolate;
    height: var(--C02_HeaderHeight);
    background-color: chocolate;
    display: grid;
}

.C02id_CreateColumnDiv input {
    vertical-align: middle;
    margin-bottom: 5px;
}

/*
// index03.css
*/
#C02id_Div table tr:nth-child(even):not(.C02id_HeightLightRow) {
    background-color: rgb(95, 160, 120);
}

#C02id_Div table tr:nth-child(odd):not(.C02id_HeightLightRow) {
    background-color: rgb(125, 213, 18);
}

#C02id_Div table tr,
#C02id_Div table td {
    width: 100%;
}

#C02id_Div table {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: rgb(0, 0, 0);
}
/*
// index04.css
*/
.C02id_3342 {
    margin-left: 5px
}

#C02id_B2133 {
    margin-left: 5px
}

.C02id_6677 {
    display: 'flex';
    margin-right: 'auto';
    margin-top: 5px
}
/*
// index05css
*/

#root {
    --let_Font01: 14px;
    --let_Font02: 14px;
}


.C02id_HeightLightRow input {
    font-size: var(--let_Font02);
}

#C02id_Div table tr.C02id_HeightLightRow {
    background-color: rgb(100, 100, 200);
}